body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    /*background-color: #373B44;*/
  }
  
  .App {
    margin: 50px;
    text-align: center;
    border-style: solid;
    background-color: #373B44;
  }

  .App-header {
    color: white;
  }

  .App-msg {
    color: white;
    border: solid;
    border-radius: 10px; 
    padding: 10px;
    margin-right: 200px;
    margin-left: 200px;
  }

  .user1 {
    margin-right: 160px;
    /*color: white;*/
  }

  .user2 {
    margin-left: 150px;
    /*color: white;*/
  } 

  .App-form {
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }

  .App-footer {
    color: white;
  }